
[DEFAULT]
ignore = *.tmp,*RemoteStageOutTest*
concurrency = 180

[CVMFS]
repo = cms.osgstorage.org
cache_directory = /tmp

[Authorization]
x509_credential = /tmp/x509up_u1221
file = /var/cache/cvmfs-sync/cms_credential
voms_fqan = cms

[Sync relval]
source = root://red-gridftp12.unl.edu//store/relval/
gridftp_source = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/relval/
destination = /cvmfs/cms.osgstorage.org/store/relval/


[Sync mc]
source = root://red-gridftp12.unl.edu//store/mc/
gridftp_source = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/mc/
destination = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/mc/


[Sync data]
source = root://red-gridftp12.unl.edu//store/data/
gridftp_source = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/data/
destination = /cvmfs/ligo.osgstorage.org/pycbc

[Sync user]
source = root://red-gridftp12.unl.edu//store/user/
gridftp_source = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/user/
destination = /cvmfs/cms.osgstorage.org/store/user/
