
[DEFAULT]
ignore = *.tmp,*RemoteStageOutTest*
concurrency = 10
max_time = 45

[CVMFS]
repo = cms.osgstorage.org

[Authorization]
x509_credential = /tmp/x509up_u1221.cms
file = /usr/share/cvmfs-sync/cms_authz
voms_fqan = cms

[Sync relval]
source = root://red-gridftp12.unl.edu//store/relval/
gridftp_source = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/relval/
destination = /cvmfs/cms.osgstorage.org/store/relval/

[Sync mc]
source = root://red-gridftp12.unl.edu//store/mc/
gridftp_source = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/mc/
destination = /cvmfs/cms.osgstorage.org/store/mc/

[Sync data]
source = root://red-gridftp12.unl.edu//store/data/
gridftp_source = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/data/
destination = /cvmfs/cms.osgstorage.org/store/data/

[Sync user]
source = root://red-gridftp12.unl.edu//store/user/
gridftp_source = gsiftp://red-gridftp.unl.edu//user/uscms01/pnfs/unl.edu/data4/cms/store/user/
destination = /cvmfs/cms.osgstorage.org/store/user/

[Sync UCSD data]
source = root://gftp-3.t2.ucsd.edu//store/data/
gridftp_source = gsiftp://gftp.t2.ucsd.edu//cms/phedex/store/data/
destination = /cvmfs/cms.osgstorage.org/store/test/xrootd/T2_US_UCSD/store/data/

[Sync UCSD mc]
source = root://gftp-3.t2.ucsd.edu//store/mc/
gridftp_source = gsiftp://gftp.t2.ucsd.edu//cms/phedex/store/mc/
destination = /cvmfs/cms.osgstorage.org/store/test/xrootd/T2_US_UCSD/store/mc/

[Sync UCSD user]
source = root://gftp-3.t2.ucsd.edu//store/user//
gridftp_source = gsiftp://gftp.t2.ucsd.edu//cms/store/user/
destination = /cvmfs/cms.osgstorage.org/store/test/xrootd/T2_US_UCSD/store/user/


