
[CVMFS]
repo = gluex.osgstorage.org

[Sync Gluex-uconn0]
source = root://nod25.phys.uconn.edu:1094//gluex/uconn0
destination = /cvmfs/gluex.osgstorage.org/gluex/uconn0
include = 
concurrency = 10
max_time = 600
ignore = *.tmp, *.swp

[Sync Gluex-uconn1]
source = root://cn445.storrs.hpc.uconn.edu:1094//gluex/uconn1
destination = /cvmfs/gluex.osgstorage.org/gluex/uconn1
include = 
concurrency = 10
max_time = 600
ignore = *.tmp, *.swp, *primex*
