
[CVMFS]
repo = icarus.osgstorage.org

[Sync icarus]
#source = root://stashcache.fnal.gov//pnfs/fnal.gov/usr/icarus/persistent/stash
source = root://stashredirector.fnal.gov//pnfs/fnal.gov/usr/icarus/persistent/stash
destination = /cvmfs/icarus.osgstorage.org/pnfs/fnal.gov/usr/icarus/persistent/stash
