
[CVMFS]
repo = jlab.osgstorage.org

[Sync jlab]
source = root://sci-xrootd.jlab.org:2094//jlab
destination = /cvmfs/jlab.osgstorage.org/jlab
include =
concurrency = 10
#max_time = 600
max_time = 30

[Sync eic]
source = root://sci-xrootd.jlab.org:2094//eic
destination = /cvmfs/jlab.osgstorage.org/eic
include =
#concurrency = 10
#max_time = 600
