
[CVMFS]
repo = kagra.storage.igwn.org

[Authorization]
x509_credential = /tmp/x509up_u1221
command = /usr/libexec/cvmfs-sync/ligo-auth-gen {authz_output} -p ZZZ_PASSWORD_ZZZ -w /usr/share/cvmfs-sync/kagra_authz

[Sync kagra]
source = root://kagra-dsr-b2.icrr.u-tokyo.ac.jp:1095//igwn/kagra/
destination = /cvmfs/kagra.storage.igwn.org/igwn/kagra/
