
[CVMFS]
repo = ligo-test.storage.igwn.org

[Authorization]
x509_credential = /tmp/x509up_u1221
command = /usr/libexec/cvmfs-sync/ligo-auth-gen {authz_output} -p ZZZ_PASSWORD_ZZZ -w /usr/share/cvmfs-sync/ligo_storage_authz

[Sync ligo]
source = root://origin-readtest.ligo.caltech.edu:1095//igwn/test/ligo
destination = /cvmfs/ligo-test.storage.igwn.org/igwn/test/ligo
concurrency = 20
