
[DEFAULT]
ignore = *.tmp
concurrency = 15

[CVMFS]
repo = ligo.osgstorage.org

[Authorization]
x509_credential = /tmp/x509up_u1221
#x509_credential = /tmp/x509up_u0
#Note: replace <LDAP password> witht the real credential
command = /usr/libexec/cvmfs-sync/ligo-auth-gen {authz_output} -w /usr/share/cvmfs-sync/ligo_authz -p <LDAP password>

# Skipping, as recommended by Tom Downes
#[Sync postO2]
#source = root://xrootd-local.unl.edu//user/ligo/frames/postO2/
#destination = /cvmfs/ligo.osgstorage.org/frames/postO2/

#[Sync ER14]
#source = root://xrootd-local.unl.edu//user/ligo/frames/ER14/
#destination = /cvmfs/ligo.osgstorage.org/frames/ER14/

[Sync O3]
source = root://xrootd-local.unl.edu//user/ligo/frames/O3/
#source = root://red-gridftp3.unl.edu//user/ligo/frames/O3/
destination = /cvmfs/ligo.osgstorage.org/frames/O3/

[Sync VIRGO]
source = root://ingrid-se09.cism.ucl.ac.be:1095//user/ligo/rucio-tests-lfn2pfn
#source = root://red-gridftp3.unl.edu//user/ligo/frames/O3/
destination = /cvmfs/ligo.osgstorage.org/rucio-tests-lfn2pfn

[Sync VIRGO-virgocw]
source = root://ingrid-se09.cism.ucl.ac.be:1095//user/ligo/virgocw-test
destination = /cvmfs/ligo.osgstorage.org/virgocw-test

#[Sync O2]
#source = root://xrootd-local.unl.edu//user/ligo/frames/O2/
#destination = /cvmfs/ligo.osgstorage.org/frames/O2/


#[Sync O1]
#source = root://xrootd-local.unl.edu//user/ligo/frames/O1/
#destination = /cvmfs/ligo.osgstorage.org/frames/O1/


#[Sync ER8]
#source = root://xrootd-local.unl.edu//user/ligo/frames/ER8/
#destination = /cvmfs/ligo.osgstorage.org/frames/ER8/


#[Sync VIRGO]
#source = root://xrootd-local.unl.edu//user/ligo/frames/AdVirgo/
#destination = /cvmfs/ligo.osgstorage.org/frames/AdVirgo/


#[Sync PyCBC]
#source = root://xrootd-local.unl.edu//user/ligo/pycbc/
#destination = /cvmfs/ligo.osgstorage.org/pycbc/

[Sync Powerflux]
source = root://xrootd-local.unl.edu//user/ligo/powerflux/
destination = /cvmfs/ligo.osgstorage.org/powerflux/

