
[DEFAULT]
ignore = *.tmp
concurrency = 15

[CVMFS]
repo = ligo.osgstorage.org

[Authorization]
x509_credential = /tmp/x509up_u1221
command = /usr/libexec/cvmfs-sync/ligo-auth-gen {authz_output} -w /usr/share/cvmfs-sync/ligo_authz

[Sync O2]
source = root://xrootd-local.unl.edu//user/ligo/frames/O2/
destination = /cvmfs/ligo.osgstorage.org/frames/O2/


[Sync VIRGO]
source = root://xrootd-local.unl.edu//user/ligo/frames/AdVirgo/
destination = /cvmfs/ligo.osgstorage.org/frames/AdVirgo/


[Sync PyCBC]
source = root://xrootd-local.unl.edu//user/ligo/pycbc/
destination = /cvmfs/ligo.osgstorage.org/pycbc/
