
[CVMFS]
repo = minerva.osgstorage.org

[Sync mu2e]
#source = root://fndca1.fnal.gov:1095/pnfs/fnal.gov/usr/minerva/persistent/stash/
#source = root://stashcache.fnal.gov//pnfs/fnal.gov/usr/minerva/persistent/stash/
source = root://stashredirector.fnal.gov//pnfs/fnal.gov/usr/minerva/persistent/stash/
destination = /cvmfs/minerva.osgstorage.org/pnfs/fnal.gov/usr/minerva/persistent/stash/
