
[CVMFS]
repo = mu2e.osgstorage.org

[Sync mu2e]
#source = root://fndca1.fnal.gov:1095/pnfs/fnal.gov/usr/mu2e/persistent/stash/
#source = root://stashcache.fnal.gov//pnfs/fnal.gov/usr/mu2e/persistent/stash/
source = root://stashredirector.fnal.gov//pnfs/fnal.gov/usr/mu2e/persistent/stash/
destination = /cvmfs/mu2e.osgstorage.org/pnfs/fnal.gov/usr/mu2e/persistent/stash/
