
[CVMFS]
repo = nova.osgstorage.org

[Sync flux]
source = root://stashcache.fnal.gov//pnfs/fnal.gov/usr/nova/data/flux/
destination = /cvmfs/nova.osgstorage.org/pnfs/fnal.gov/usr/nova/data/flux/

[Sync analysis]
source = root://stashcache.fnal.gov//pnfs/fnal.gov/usr/nova/persistent/analysis
destination = /cvmfs/nova.osgstorage.org/pnfs/fnal.gov/usr/nova/persistent/analysis
