[Unit]
Description=nova.osgstorage.org repo update
After=network.target cvmfs-nova.osgstorage.org.mount
Wants=network.target cvmfs-nova.osgstorage.org.mount

[Service]
ExecStart=/home/swanson/dweitzel/nova-data-update
WorkingDirectory=/home/swanson/dweitzel
RestartSec=15min
Restart=always
User=dweitzel
Nice=19
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
