
[DEFAULT]
ignore = *.tmp
concurrency = 15

[CVMFS]
repo = scitokens.osgstorage.org

[Authorization]
file = /etc/cvmfs-sync/scitokens.authz


# Skipping, as recommended by Tom Downes
#[Sync postO2]
#source = root://xrootd-local.unl.edu//user/ligo/frames/postO2/
#destination = /cvmfs/ligo.osgstorage.org/frames/postO2/


