
[CVMFS]
repo = shared.storage.igwn.org

[Authorization]
x509_credential = /tmp/x509up_u1221
command = /usr/libexec/cvmfs-sync/ligo-auth-gen {authz_output} -p ZZZ_PASSWORD_ZZZ -w /usr/share/cvmfs-sync/shared_igwn_authz

[Sync ligo]
source = root://origin-shared.ligo.caltech.edu:1095//igwn/shared/
destination = /cvmfs/shared.storage.igwn.org/igwn/shared/
#concurrency = 20
