
[CVMFS]
repo = stash.osgstorage.org

#[Sync Merra2]
#source = root://stashcache-origin-merra2.nautilus.optiputer.net:31094//merra2
#destination = /cvmfs/stash.osgstorage.org/merra2
#include = 
#concurrency = 50
#max_time = 600
#ignore = *.tmp, *.swp

#[Sync Gluex]
#source = root://nod25.phys.uconn.edu//Gluex
#destination = /cvmfs/stash.osgstorage.org/Gluex
#include = 
#concurrency = 10
#max_time = 600
#ignore = *.tmp, *.swp

[Sync chtc]
source = root://sc-origin.chtc.wisc.edu//chtc/PUBLIC
destination = /cvmfs/stash.osgstorage.org/chtc/PUBLIC
#include =
concurrency = 10
max_time = 600
ignore = *.tmp, *.swp

[Sync Stash-collab]
source = root://stash.osgconnect.net//osgconnect/collab/
destination = /cvmfs/stash.osgstorage.org/osgconnect/collab/
#include = /user/*/public/*
#ignore = *.tmp, *.swp, /user/*/public/public, /user/krieger, /user/nepomuk, /user/toth
concurrency = 10
max_time = 600


[Sync Stash]
source = root://stash.osgconnect.net//osgconnect/public/
destination = /cvmfs/stash.osgstorage.org/osgconnect/public/
#include = /user/*/public/*
#ignore = *.tmp, *.swp, /user/*/public/public, /user/krieger, /user/nepomuk, /user/toth
ignore = /osgconnect/public/agladstein
concurrency = 50
max_time = 600
