[Unit]
Description=uboone.osgstorage.org repo update
After=network.target cvmfs-uboone.osgstorage.org.mount
Wants=network.target cvmfs-uboone.osgstorage.org.mount

[Service]
ExecStart=/usr/libexec/cvmfs-sync/uboone-data-update
WorkingDirectory=/usr/share/cvmfs-sync
RestartSec=15min
Restart=always
User=cvmfs-sync
Nice=19
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
