[CVMFS]
repo = uhawaii.osgstorage.org

#[Sync me2022]
#source = root://prp01.ifa.hawaii.edu//uhawaii/manoa/ifa/me2022
#destination = /cvmfs/uhawaii.opensciencegrid.org/uhawaii/manoa/ifa/me2022
#concurrency = 10
#ignore = sent2/*, sent1/*, c3/*, tfr/*

[Sync hinode]
source = root://prp01.ifa.hawaii.edu//uhawaii/manoa/ifa/hinode
destination = /cvmfs/uhawaii.osgstorage.org/uhawaii/manoa/ifa/hinode
