
[CVMFS]
repo = virgo.storage.igwn.org

[Authorization]
x509_credential = /tmp/x509up_u1221
command = /usr/libexec/cvmfs-sync/ligo-auth-gen {authz_output} -p ZZZ_PASSWORD_ZZZ -w /usr/share/cvmfs-sync/virgo_authz

[Sync virgo]
source = root://ingrid-se09.cism.ucl.ac.be:1095//igwn/virgo/
destination = /cvmfs/virgo.storage.igwn.org/igwn/virgo/
